table {
    border-collapse: collapse;
}

.ttt-celement-unplayed, .ttt-celement-played, .ttt-winner {
    border: 4px solid #222222;
    font-size: 72px;
    height: 100px;
    width: 100px;
    text-align: center;
}

.ttt-winner {
    color: #2cb7cf;
}

.ttt-winner, .ttt-celement-played {
    cursor: default;
}

.ttt-celement-unplayed {
    cursor: pointer;
}

.ttt-celement-unplayed#ttt-cell00, .ttt-celement-played#ttt-cell00,
        .ttt-winner#ttt-cell00 {
    border-top: none;
    border-left: none;
}

.ttt-celement-unplayed#ttt-cell01, .ttt-celement-played#ttt-cell01,
        .ttt-winner#ttt-cell01 {
    border-top: none;
}

.ttt-celement-unplayed#ttt-cell02, .ttt-celement-played#ttt-cell02,
        .ttt-winner#ttt-cell02 {
    border-top: none;
    border-right: none;
}

.ttt-celement-unplayed#ttt-cell10, .ttt-celement-played#ttt-cell10,
        .ttt-winner#ttt-cell10 {
    border-left: none;
}

.ttt-celement-unplayed#ttt-cell12, .ttt-celement-played#ttt-cell12,
        .ttt-winner#ttt-cell12 {
    border-right: none;
}

.ttt-celement-unplayed#ttt-cell20, .ttt-celement-played#ttt-cell20,
        .ttt-winner#ttt-cell20 {
    border-bottom: none;
    border-left: none;
}

.ttt-celement-unplayed#ttt-cell21, .ttt-celement-played#ttt-cell21,
        .ttt-winner#ttt-cell21 {
    border-bottom: none;
}

.ttt-celement-unplayed#ttt-cell22, .ttt-celement-played#ttt-cell22, 
.ttt-winner#ttt-cell22 {
    border-right: none;
    border-bottom: none;
}

.ttt-field {
    display: flex;
    align-items: flex-end;
    cursor: default;
}

.ttt-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 314px;
    margin-left: 30px;
}

.ttt-mode-item {
    display: flex;
    justify-content:flex-start;
    margin: 0px 0px 6px 0px;
}

.ttt-mode-button-active, .ttt-mode-button-inactive {
    margin-top: 4px;
}

.ttt-reset-locked#reset-button, .ttt-reset-unlocked#reset-button,
        .ttt-mode-button-active, .ttt-mode-button-inactive {
    border-radius: 7px;
    font-size: 1.25em;
    padding: 7px 14px;
}

.ttt-reset-locked#reset-button, .ttt-reset-unlocked#reset-button, .ttt-mode-button-inactive {
    background-color: #555555;
}

.ttt-mode-button-active {
    background-color: #333333;
}

.ttt-reset-locked#reset-button, .ttt-mode-button-active {
    color: #BBBBBB;
    cursor: default;
}

.ttt-reset-unlocked#reset-button, .ttt-mode-button-inactive {
    color: #2cb7cf;
    cursor: pointer;
}