<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8" />
    <title>Distortomata Welcome Page</title>
    <link rel="stylesheet" href="/main.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
            rel="stylesheet" /> 
</head>

<body>
    <header>
        <nav class="nav-container">
            <p class="nav-element"><a href="/">Home</a></p>
            <p class="nav-element"><a href="/tictactoe">Tic Tac Toe</a></p>
            <h3 class="nav-element">Distortomata</h3>
        </nav>
    </header>
    <article>
        <h2>Let's Play Conway's Game of Life</h2>
        <div id="distortomata"></div>
    </article>
    <footer><h5>&copy; 📐 🖋 Andrew Edward Sokolowski</h5></footer>
    <script src="built/distortomata.js"></script>
</body>
</html>