<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF=8" />
    <title>Prototype Welcome Page</title>
    <link rel="stylesheet" href="/main.css" />
</head>

<body>
    <header>
        <h3>Dummy Title</h3>
        <nav>
            <p><a href="/distortomata">Distortomata</a></p>
            <p><a href="/tictactoe">Tic Tac Toe</a></p>           
        </nav>
    </header>
    <article>
        <h2>Hello World</h2>
        <p>This is part of a template.</p>
    </article>
    <footer><h5>&copy; 📐 🖋 Andrew Edward Sokolowski</h5></footer>
</body>
</html>