<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF=8" />
    <title>Prototype Welcome Page</title>
    <link rel="stylesheet" href="/main.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
            rel="stylesheet" /> 
</head>

<body>
    <header>
        <nav class="nav-container">
            <h3 class="nav-element">Andy's Portfolio</h3>
            <p class="nav-element"><a href="/tictactoe">Tic Tac Toe</a></p>
            <p class="nav-element"><a href="/distortomata">Distortomata</a></p>
        </nav>
    </header>
    <article>
        <div class="body-container">
            <h2>Hello World</h2>
            <p>This is part of a template.</p>
        </div>
    </article>
    <footer><h5>&copy; 📐 🖋 Andrew Edward Sokolowski</h5></footer>
</body>
</html>