<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF=8" />
    <title>Tic Tac Toe Prototype</title>
    <link rel="stylesheet" href="/main.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
            rel="stylesheet" /> i
</head>

<body>
    <header>
        <nav class="nav-container">
            <h3 class="nav-element">Dummy Title</h3>
            <p class="nav-element"><a href="/">Home</a></p>
            <p class="nav-element"><a href="/distortomata">Distortomata</a></p>
        </nav>
    </header>
    <article>
        <h2>Let's Play Tic Tac Toe</h2>
        <div id="tictactoe"></div>
    </article>
    <footer><h5>&copy; 📐 🖋 Andrew Edward Sokolowski</h5></footer>
    <script src="built/tictactoe.js"></script>
</body>
</html>