<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF=8" />
    <title>Tic Tac Toe Prototype</title>
    <link rel="stylesheet" href="/main.css" />
    <link rel="stylesheet" href="/tictactoe.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
            rel="stylesheet" />
</head>

<body>
    <header>
        <nav class="nav-container">
            <p class="nav-element"><a href="/">Home</a></p>
            <h3 class="nav-element">Tic Tac Toe</h3>
            <p class="nav-element"><a href="/distortomata">Distortomata</a></p>
        </nav>
    </header>
    <article>
        <div class="body-container">
            <div id="tictactoe"></div>
        </div>
    </article>
    <footer><span><h4 class="footer-htag">&copy; 📐 🖋</h4> <h5 class="footer-htag">
        Andrew Edward Sokolowski
    </h5></span></footer>
    <script src="built/tictactoe.js"></script>
</body>
</html>